body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
    margin: 0;
}

.container {
    padding: 20px;
}

.progress-container {
    width: 100%;
    height: 20px;
    background: #333;
    margin-bottom: 30px;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: lime;
    transition: width 0.5s;
}

.arrow-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

#arrow {
    font-size: 120px;
    transition: transform 0.2s linear;
}

.info {
    font-size: 22px;
    margin-bottom: 20px;
}

button {
    font-size: 20px;
    padding: 15px 30px;
    background: lime;
    border: none;
    cursor: pointer;
}